Package: ks-stubs-hub1
Version: 1.0.0
Section: contrib/ks
Priority: optional
Architecture: all
Provides: php-cli (= 7.1.15), php-mbstring (= 7.1.15)
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: A package that can be used to satisfied any dependencies that are accounted for on hub1

