Package: ks-system-hub1
Version: 0.2.1
Section: free
Priority: optional
Architecture: all
Depends: ks-configs, ks-stubs-hub1, syncthing, hd-idle (>= 1.0), ddnsd, ddnsd-provider-name.com, debconf
Provides: ks-system
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: A meta-package that aggregates the correct dependencies and runtime configurations for my system hub1

