Package: ks-system-hub1
Version: 0.2.5
Section: free
Priority: optional
Architecture: all
Depends: ks-stubs-hub1, ks-syncthing (>= 1.0.4), ks-hd-idle, ks-ddnsd, ddnsd-provider-name.com, ks-insync-portable, vim, git (>= 2.18.0), acl, screen, curl
Provides: ks-system
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: A meta-package that aggregates the correct dependencies and runtime configurations for my system hub1

