Package: ddnsd
Version: 0.9.1
Section: contrib/ks
Priority: optional
Architecture: all
Depends: php-cli (>= 7.1.0)
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: The ddnsd daemon
 ddnsd is a small daemon written in php that watches your public IP address
 for changes and updates your DNS records (depending on service provider)
 when changes are detected.
 .
 See https://github.com/kael-shipman/php-ddnsd for more info.

