Package: ks-configs
Version: 1.0.0
Section: free
Priority: optional
Architecture: all
Depends: debconf
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: A small package that simply ensures that the Runtime directory is in place before proceeding.

