Package: ks-system-home
Version: 1.0.0
Section: free
Priority: optional
Architecture: amd64
Depends: ks-configs, syncthing, golang-1.10-go
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: My home computer setup

