Package: ks-system-ksm
Version: 1.0.1
Section: free
Priority: optional
Architecture: amd64
Depends: ks-syncthing (>= 1.0.4), peekaygee (>= 0.9.5), peekaygee-srvworker-deb-reprepro (>= 0.9.5), vim, git (>= 2.18.0), screen
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: My kaelshipman.me computer setup

