[Unit]
Description=A timer that starts syncthing 5 minutes after boot
After=multi-user.target

[Timer]
OnBootSec=5min

[Install]
WantedBy=timers.target

